<p id="notice"><%= notice %></p>

<h1>Listing Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Vendedor</th>
      <th>Comprador</th>
      <th>Unidades</th>
      <th>Costo</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.fecha %></td>
        <td><%= invoice.vendedor %></td>
        <td><%= invoice.comprador %></td>
        <td><%= invoice.unidades %></td>
        <td><%= invoice.costo %></td>
        <td><%= invoice.precio %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
